.spacer {
  height: 5px;
  width: auto;
  background-color: rgb(209, 212, 209);
  border: black;
  line-height: 20px;
  float: top;
}
.rectangle1 {
  height: 300px;
  width: 400px;
  background-color: rgb(243, 219, 6);
  justify-content: center;
  float: left;
}
.rectangle2 {
  height: 200px;
  width: 400px;
  background-color: rgb(113, 177, 88);
  justify-content: center;
  float: left;
}
.rectangle3 {
  height: 100px;
  width: 400px;
  background-color: rgb(51, 105, 204);
  justify-content: center;
  float: left;
}
.rectangle4 {
  height: 50px;
  width: 400px;
  background-color: rgb(202, 42, 42);
  justify-content: center;
  float: left;
}
.rectangle5 {
  height: 25px;
  width: 400px;
  background-color: rgb(0, 0, 0);
  justify-content: center;
  float: left;
}

body {
  height: 100%;
  background-color: rgb(255, 255, 255);
  font-family: "Courier New", Courier, monospace;
  color: black;
  font-size: 18px;
  line-height: 20px;
}
